html,body{
    background-color: #fff;
    font-family: PingFang-SC-Medium;
    font-weight: normal;
    color: #333333;
    padding-top: 3.2rem;
}
.successBox{
    width: 9.6rem;
    margin: 0 auto;
}
.successBox .successImage{
    width: 2.28rem;
    height: 2.28rem;
    margin: 0 auto;
}
.successBox .bigText{
    font-size: 0.76rem;
    width: 6.4rem;
    margin: 0 auto;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
.successBox .smallText{
    font-size: 0.6rem;
    width: 10rem;
    margin: 0 auto;
    margin-bottom: 3.72rem;
}
.bigBanner{
    width: 12.4rem;
    height: 9.4rem;
    margin: 0 auto;
}
